[submodule "packages/backend/lib/openzeppelin-contracts"]
	path = packages/backend/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "packages/backend/lib/account-abstraction"]
	path = packages/backend/lib/account-abstraction
	url = https://github.com/eth-infinitism/account-abstraction
